<div class="main-content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-header" data-background-color="blue">
        <h4 class="title">Items</h4>
      </div>

      <div class="card-content table-responsive table">

        <form #itemForm="ngForm" (ngSubmit)="saveItem(item)">

          <div class="col-sm-6">
            <div class="form-group label-floating">
              <label class="control-label">Name</label>
              <input type="text" class="form-control" id="name" [(ngModel)]="item.name" name="name">
            </div>
          </div>



          <div class="col-sm-6">
            <div class="form-group">

              <select class="form-control" id="category" [(ngModel)]="item.category" name="category">
                <option [ngValue]="null">Select Category</option>
                <option *ngFor="let cat of category" [value]="cat">{{cat}}</option>
              </select>
            </div>
          </div>


          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" id="itemAvailable" [(ngModel)]="item.itemAvailable" name="itemAvailable"> The item is available for sale
            </label>
          </div>


          <div class="form-group">
            <div class="form-control">
              <label>Sold by: </label>
              <label class="radio-inline">
                <input type="radio" name="sold" value="Each" [(ngModel)]="item.sold"> Each
              </label>
              <label class="radio-inline">
                <input type="radio" name="sold" value="Weight" [(ngModel)]="item.sold"> Weight
              </label>
            </div>
          </div>


          <div class="col-sm-6">
            <div class="form-group label-floating">
              <label class="control-label">Price</label>
              <input type="number" class="form-control" id="price" [(ngModel)]="item.price" name="price">
            </div>
          </div>


          <div class="col-sm-6">
            <div class="form-group label-floating">
              <label class="control-label">Cost</label>
              <input type="number" class="form-control" id="cost" [(ngModel)]="item.cost" name="cost">
            </div>
          </div>


          <div class="col-sm-6">
            <div class="form-group label-floating">
              <label class="control-label">SKU</label>
              <input type="number" class="form-control" id="sku" [(ngModel)]="item.sku" name="sku">
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group label-floating">
              <label class="control-label">Barcode</label>
              <input type="any" class="form-control" id="barcode" [(ngModel)]="item.barcode" name="barcode">
            </div>
          </div>

          <button class="btn btn-primary" type="submit">Save</button>

          <button type="button" class="btn btn-primary" [routerLink]="['/item-list']">
            Back to List</button>

        </form>

      </div>


    </div>


  </div>
</div>