<div class="main-content">
  <div class="container-fluid">


    <div class="card">
      <div class="card-header" data-background-color="blue">
        <h4 class="title">Customer</h4>
      </div>
      <span>
        <button type="button" class="btn btn-primary" (click)="newCustomer()">
          <i class="fa fa-plus"></i> Add Customer
        </button>

      </span>

      <div class="card-content table-responsive table">

        <table class="table">
          <thead class="">
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
            <th>Note</th>
            <th>Edit</th>
            <th>Delete</th>
          
          </thead>

          <tr *ngFor="let customer of customers">
            <td>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
              </label>
            </td>

            <td>{{customer.custname}}</td>
            <td>{{customer.custemail}}</td>
            <td>{{customer.custphonenumber}}</td>
            <td>{{customer.custnote}}</td>

            <td>
              <button (click)="editCustomer(customer)">Edit</button>
            </td>
            <td>
              <button (click)="doDelete(customer)">Delete</button>
            </td>
       

          </tr>

        </table>


        <div class="card-footer p-0">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mt-3 mr-3">
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item active">
                <span class="page-link">2
                  <span class="sr-only">(current)</span>
                </span>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>



    </div>
  </div>
</div>