<div class="main-content">
  <div class="container-fluid">


    <div class="card">
      <div class="card-header" data-background-color="blue">
        <h4 class="title">Create Categories</h4>
      </div>

      <div class="card-content table-responsive table">


        <form class="form-inline" #categoriesForm="ngForm" (ngSubmit)="savecategories(category)">
          <div class="form-group">
            <label for="email">Categories ID:</label>
            <input type="email" class="form-control" id="id"[(ngModel)]="category.id" name="id">
          </div>
          <div class="form-group">
            <label for="pwd">Categories Name:</label>
            <input type="text" class="form-control" id="catname"[(ngModel)]="category.catname" name="catname">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>

          <button type="button" class="btn btn-primary" [routerLink]="['/categories']">
            Back to Categories</button>
        </form>



      </div>

    </div>

  </div>

</div>