<div class="main-content">
  <div class="container-fluid">


    <div class="card">
      <div class="card-header" data-background-color="blue">
        <h4 class="title">Discount</h4>
      </div>
      <span>
        <button type="button" class="btn btn-primary" (click)="newDiscount()">
          <i class="fa fa-plus"></i> Add Discount</button>
      </span>

      <div class="card-content table-responsive table">


        <table class="table">
          <thead class="">

            <th>#</th>
            <th>Name</th>
            <th>Value</th>
            <th>Type</th>
            <th>Restricted access</th>
            <th>Edit</th>
            <th>Delete</th>


          </thead>


          <tr *ngFor="let discount of discounts">
            <td>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
              </label>
            </td>
            <td>{{discount.Name}}</td>
            <td>{{discount.Value}}</td>
            <td>{{discount.Type}}</td>
            <td>{{discount.Restricted_access}}</td>

            <td>
              <button (click)="editDiscount(discount)">Edit</button>
            </td>
            <td>
              <button (click)="doDelete(discount)">Delete</button>
            </td>

          </tr>

        </table>

      </div>

      <div class="card-footer p-0">
        <nav aria-label="...">
          <ul class="pagination justify-content-end mt-3 mr-3">
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item active">
              <span class="page-link">2
                <span class="sr-only">(current)</span>
              </span>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>


    </div>
  </div>
</div>