<div class="main-content">
    <div class="container-fluid">

        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">Notifications </h4>
            </div>
            <span>
                <button type="button" class="btn btn-primary" (click)="newNotification()">
                    <i class="fa fa-plus"></i> Add Notifications</button>
            </span>

            <div class="card-content table-responsive table">

                <table class="table">
                    <thead class="">
                            <th>#</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Edit</th>
                            <th>Delete</th>
                    </thead>

                    <tr *ngFor="let notification of notifications">
                        <td>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td>{{notification.subject}}</td>
                        <td>{{notification.message}}</td>
                        <td>
                            <button (click)="editNotification(notification)">Edit</button>
                          </td>
                          <td>
                            <button (click)="doDelete(notification)">Delete</button>
                          </td>
                    </tr>

                </table>
            </div>

            
            <div class="card-footer p-0">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end mt-3 mr-3">
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item active">
                            <span class="page-link">2
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>



    </div>
</div>